{% from 'base.html' import valida %}
{% extends 'base.html' %}

{% macro mostrarTelemetria() %}

<div class="col-md-12 pt-3">
    <div class="jumbotron p-3">
        <h2> Usuarios </h2>
    </div>

    {{ mostraAlerta() }}
    <table class="display table table-hover table-dark table-bordered" style="width: 100%" id="myTable">
            <thead>
                <tr id="cabecalho">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <!-- <th>Data Criação</th> -->
                    <th>Sexo</th>
                    <!-- <th>Cpf</th> -->
                    <th>Tel</th>
                    <th>Idade</th>
                    <th>Data Nascimento</th>
                    <th>Tipo Usuario</th>
                    <th> Ação </th>
               
                </tr>
            </thead>
            <tbody>
                                
            </tbody>           
    </table>
</div>
{% endmacro %}


{% block content %}

{{ validaLogin(current_user) }}

<div class="container">
    <div class="row">
      
        {{ mostrarTelemetria() }}
       
    </div>
</div>


<script>
    function funcaoBuscar(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('meuInput');
        filter = input.value.toUpperCase();
        table = document.getElementById('myTable');
        tr = table.getElementsByTagName("tr");
        for(i = 0; i < tr.length; i++){
            td = tr[i].getElementsByTagName("td")[3];  // posicao da coluna de pesquisa
            if(td){
                txtValue = td.textContent || td.innerText;
                if(txtValue.toUpperCase().indexOf(filter) > -1){
                    tr[i].style.display = "";
                }else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}

{% block footer %}
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p class="mt-5 mb-3 text-muted text-center">Todos os direitos reservados. &copy; 2021</p>
        </div>
    </footer>
{% endblock %}
